/* Form styling */
div {
    display: flex;
    justify-content: center; 
    align-items: center;
  }

form {
background: rgb(108, 108, 108);
padding: 40px;
border-radius: 8px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
width: 100%;
max-width: 400px;
}

label {
display: block;
color: #ffffff;
margin-bottom: 5px;
font-size: 14px;
font-weight: bold;
}

input[type='email'],
input[type='password'] {
width: 100%;
padding: 10px;
margin-bottom: 20px;
border-radius: 5px;
border: 1px solid #ddd;
box-sizing: border-box;
}

input::placeholder {
color: #bbb;
}

button {
width: 100%;
padding: 10px;
background-color: #007bff; /* Primary button color */
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
}

button:hover {
background-color: #0056b3; /* Darker shade for hover effect */
}

/* Responsive adjustments */
@media (max-width: 768px) {
form {
    width: 90%;
    padding: 20px;
}
}
